@mixin animation-delay () {
    @for $i from 1 through 4 {
        &:nth-child(#{$i + 1}) {
            animation-delay: calc(#{$i} * 0.2s);
        }
    }
}

.row-container {
    text-align: center;
    display: flex;
    justify-content: center;

    & > div {
        width: 60px;
        height: 60px;
        border: 2px solid #d3d6da;
        margin: 4px;
        text-align: center;
        line-height: 60px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.0em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: background 1.0s, border-color 0.3s;
        animation-direction: normal;
        animation-timing-function: ease;
        animation-fill-mode: forwards;

        &.green {
            --background: #6aaa64;
            --border-color: #6aaa64;
            animation-name: flip;
            animation-duration: 0.6s;
        }

        &.grey {
            --background: #787c7e;
            --border-color: #787c7e;
            animation-name: flip;
            animation-duration: 0.6s;
        }

        &.yellow {
            --background: #c9b458;
            --border-color: #c9b458;
            animation-name: flip;
            animation-duration: 0.6s;
        }

        @include animation-delay();
    }

    &.current {
        &:not(.win) > div.filled {
            animation-name: bounce;
            animation-duration: 0.2s;
            animation-delay: 0s;
        }

        &.win > div.filled {
            --background: #6aaa64;
            --border-color: #6aaa64;
            animation-name: correct-bounce;
            animation-duration: 1000s;
            animation-timing-function: ease-in-out;
        }
    }
}

@keyframes flip {
    0% {
        transform: rotateX(0);
        background: #fff;
        border-color: #333;
    }
    45% {
        transform: rotateX(90deg);
        background: #fff;
        border-color: #333;
    }
    55% {
        transform: rotateX(90deg);
        background: var(--background);
        border-color: var(--border-color);
    }
    100% {
        transform: rotateX(0);
        background: var(--background);
        border-color: var(--border-color);
        color: #fff;
    }
}

@keyframes bounce {
    0% {
        transform: scale(0.8);
        border-color: #ddd;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        border-color: rgb(135, 138, 140);
    }
}

@keyframes correct-bounce {
    0%,
    20% {
        transform: translateY(0);
        color: #fff;
        background: var(--background);
        border-color: var(--border-color);
    }
    40% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(2px);
        color: #fff;
        background: var(--background);
        border-color: var(--border-color);
    }
    100% {
        transform: translateY(0);
        color: #fff;
        background: var(--background);
        border-color: var(--border-color);
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translateX(-1px);
    }

    20%,
    80% {
        transform: translateX(2px);
    }

    30%,
    50%,
    70% {
        transform: translateX(-4px);
    }

    40%,
    60% {
        transform: translateX(4px);
    }
}

.row-container.invalid-word {
    animation: shake 600ms ease-in-out;
}

body[data-theme='dark'] .row-container > div {
    border: 2px solid rgb(58, 58, 60);
}

body[data-theme='dark'] .row-container > div.green {
    --background: #538d4e;
    --border-color: #538d4e;
    animation: dark 0.5s ease forwards;
}

body[data-theme='dark'] .row-container > div.grey {
    --background: #3a3a3c;
    --border-color: #3a3a3c;
    animation: dark 0.6s ease forwards;
}

body[data-theme='dark']  .row-container > div.yellow {
    --background: #b59f3b;
    --border-color: #b59f3b;
    animation: dark 0.5s ease forwards;
}

@keyframes dark {
    0% {
        transform: rotateX(0);
        background: #3a3a3c;
        border-color: #333;
    }
    45% {
        transform: rotateX(-90deg);
        background: #3a3a3c;
        border-color: #333;
    }
    55% {
        transform: rotateX(-90deg);
        background: var(--background);
        border-color: var(--border-color);
    }
    100% {
        transform: rotateX(0);
        background: var(--background);
        border-color: var(--border-color);
        color: #fff;
    }
}
