body {
    font-size: $body-font-size;

    @include breakpoint($screen-xs-max) {
        font-size: 15px;
    }
}

.html-editor {
    h2,h3 {
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        font-size: 19px;
        @media screen and (max-width: 1600px) {
            font-size: 17px;
        }
        @media screen and (max-width: 991px) {
            font-size: 16px;
        }
    }
}
